@import './rangeSlider';
@import './toggleSwitch';
@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

// Globals //

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-size: 100%;
	font-family: 'Manrope', sans-serif;
	background: url('../images/bg-pattern.svg') no-repeat 0% 0%;
	background-color: $v-pale-blue;
	padding: 3rem 1.5rem;
	color: $gray-blue-3;
}

button, input {
	cursor: pointer;
}

// Main styles //

.header {
	text-align: center;
	height: 9.1rem;
	background: url('../images/pattern-circles.svg') no-repeat center;
	padding-top: 2rem;

	&__title {
		font-size: 1.4rem;
		color: $dark-blue;
	}

	&__subtitle {
		width: 21ch;
		line-height: 1.6;
		margin: .8rem auto;
	}
}

.main {
	background-color: $white;
	border-radius: 10px;
	text-align: center;
	margin-top: 2rem;
	padding: 2rem 0rem;
	box-shadow: 4px 8px 10px 0px rgb(165, 165, 165);

	&__top {
		&__pageviews, &__k {
			font-size: .9rem;
			text-transform: uppercase;
			letter-spacing: .1rem;
		}

		&__right__par {
			display: flex;
			justify-content: center;
		}

		&__total {
			color: $dark-blue;
			font-size: 2rem;
			font-weight: 800;
		}

		&__month {
			align-self: center;
			margin-left: .3rem;
		}
	}

	&__bottom {
		margin: 2rem 0 0 -.5rem;
		font-size: .9rem;

		&__discount {
			font-size: .8rem;
			padding: 2px 7px;
			border-radius: 10px;
			background-color: $gray-red;
			color: $light-red;
		}

		&__divider {
			margin: 2rem 0 1rem 0;
			border: none;
			border-top: 1px solid $gray-blue-1;
		}
	}

	&__footer {
		&__ul {
			list-style-image: url('../images/icon-check.svg');
			// added inline-block for chrome
			display: inline-block;
		}

		&__item {
			line-height: 2;
			&__text {
				margin-left: 1rem;
			}
		}

		&__btn {
			margin-top: 2rem;

			&__start {
				background-color: $dark-blue;
				border: none;
				font-size: 1rem;
				color: $pale-blue;
				padding: 1rem 4rem;
				border-radius: 25px;
				transition: color .2s;

				&:hover {
					color: $gray-blue-1;
				}
			}
		}
	}
}

.range-slider {
	margin: 2rem 0;
}

.attribution {
	margin-top: 1rem;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}


// Media Queries //

@media only screen and (min-width: 900px) {
	body {
		background-image: url('../images/bg-pattern.svg');
		background-repeat: no-repeat;
		background-size: 100% 500px;
		background-position: top;
	}

	.header {
		margin-bottom: 3rem;
		&__title {
			font-size: 1.6rem;
		}
		&__subtitle {
			width: 100%; 
		}
	}

	.main {
		max-width: 700px;
		margin: 0 auto;

		&__top {
			display: flex;
			justify-content: space-evenly;

			&__left {
				align-self: center;
			}
			&__k, &__pageviews {
				font-size: 1.1rem;
			}

			&__total {
				font-size: 2.5rem;
			}
		}

		&__bottom > * {
			margin-right: .6rem;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			padding: 1rem 4rem;
		}
	}

	.attribution {
		margin-top: 1rem;
		font-size: 15px;
		text-align: center;
	}
}