@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
.range-slider__range {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background: #eaeefb;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: -2px 11px 20px 2px #a5f3eb;
          box-shadow: -2px 11px 20px 2px #a5f3eb;
  cursor: pointer;
}

.range-slider__range::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: -2px 11px 20px 2px #a5f3eb;
}

::-moz-range-track {
  border: 0;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 .3rem;
}

.toggle-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label input:hover + .toggle-slider {
  background-color: #a5f3eb;
}

.toggle-label input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 4.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Manrope', sans-serif;
  background: url("../images/bg-pattern.svg") no-repeat 0% 0%;
  background-color: #fafbff;
  padding: 3rem 1.5rem;
  color: #858fad;
}

button, input {
  cursor: pointer;
}

.header {
  text-align: center;
  height: 9.1rem;
  background: url("../images/pattern-circles.svg") no-repeat center;
  padding-top: 2rem;
}

.header__title {
  font-size: 1.4rem;
  color: #293356;
}

.header__subtitle {
  width: 21ch;
  line-height: 1.6;
  margin: .8rem auto;
}

.main {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 0rem;
  -webkit-box-shadow: 4px 8px 10px 0px #a5a5a5;
          box-shadow: 4px 8px 10px 0px #a5a5a5;
}

.main__top__pageviews, .main__top__k {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.main__top__right__par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__top__total {
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
}

.main__top__month {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: .3rem;
}

.main__bottom {
  margin: 2rem 0 0 -.5rem;
  font-size: .9rem;
}

.main__bottom__discount {
  font-size: .8rem;
  padding: 2px 7px;
  border-radius: 10px;
  background-color: #feece7;
  color: #ff8c66;
}

.main__bottom__divider {
  margin: 2rem 0 1rem 0;
  border: none;
  border-top: 1px solid #eaeefb;
}

.main__footer__ul {
  list-style-image: url("../images/icon-check.svg");
  display: inline-block;
}

.main__footer__item {
  line-height: 2;
}

.main__footer__item__text {
  margin-left: 1rem;
}

.main__footer__btn {
  margin-top: 2rem;
}

.main__footer__btn__start {
  background-color: #293356;
  border: none;
  font-size: 1rem;
  color: #bdccff;
  padding: 1rem 4rem;
  border-radius: 25px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.main__footer__btn__start:hover {
  color: #eaeefb;
}

.range-slider {
  margin: 2rem 0;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 900px) {
  body {
    background-image: url("../images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: top;
  }
  .header {
    margin-bottom: 3rem;
  }
  .header__title {
    font-size: 1.6rem;
  }
  .header__subtitle {
    width: 100%;
  }
  .main {
    max-width: 700px;
    margin: 0 auto;
  }
  .main__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main__top__left {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main__top__k, .main__top__pageviews {
    font-size: 1.1rem;
  }
  .main__top__total {
    font-size: 2.5rem;
  }
  .main__bottom > * {
    margin-right: .6rem;
  }
  .main__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 4rem;
  }
  .attribution {
    margin-top: 1rem;
    font-size: 15px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */